@model EFreshStore.Models.Context.Thana

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style>
        .error {
            color: red;
        }
    </style>
}

<section id="widget-grid" class="">
    <div class="row" style="height: 100%">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Add Product</h2>

                </header>
                <div>

                    <div class="widget-body no-padding">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "thanaform", @class = "smart-form"}))
                        {
                            @Html.AntiForgeryToken()
                            <div class='@TempData["Class"]' id="flashMessage" role="alert">@TempData["Message"]</div>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-2"></section>
                                    <section class="col col-2">
                                        <label class="label">Thana<span style="color: red"> *</span></label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="input">
                                            <input type="text" name="Name" id="Name">
                                        </label>
                                    </section>
                                    <section class="col col-2"></section>
                                </div>
                                <div class="row">
                                    <section class="col col-2"></section>
                                    <section class="col col-2">
                                        <label class="label">District <span style="color: red"> *</span></label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="select">
                                            @Html.DropDownListFor(model => model.DistrictId, new SelectList(ViewBag.district, "Id", "Name"), "---Select District---", new {@id = ""})
                                        </label>
                                    </section>
                                    <section class="col col-2"></section>
                                </div>
                                <div class="row" style="margin-bottom: 5%">

                                </div>
                            </fieldset>
                            <footer style="bottom: 0">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </footer>

                        }
                    </div>

                </div>

            </div>
        </article>
        <!-- END COL -->

    </div>

    <!-- END ROW -->

</section>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
   
@Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function() {
            $(function() {
                setTimeout(function() {
                    $("#flashMessage").hide('blind', {}, 500);
                }, 5000);
            });
        });
        $("#thanaform").validate({

            rules: {
                Name: "required",
                DistrictId: "required"

            },
            messages: {
                Name: "Please enter thana name",
                DistrictId: "Please select a district"
            }
        });
</script>
}