@model EFreshStore.Models.Context.Thana

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/form-design.css" />
</head>

<body>
<div class="container">
    <div class="form-horizontal" id="div1">
        @using (Html.BeginForm(null,null,FormMethod.Post, new { id = "thanaform" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h2>Update Thana</h2>
                <hr />
                @Html.ValidationSummary(true)
                <div class='@TempData["Class"]' id="flashMessage" role="alert">@TempData["Message"]</div>
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedOn)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name)
                        <br/>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DistrictId, "District", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.DistrictId, new SelectList(ViewBag.district, "Id", "Name"), "---Select---", new { @id = "" })
                        <br/>
                        @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Views", "", htmlAttributes: new { @class = "backLink" })
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(function() {
                setTimeout(function() {
                    $("#flashMessage").hide('blind', {}, 500);
                }, 5000);
            });
        });
    </script>
}
</body>
</html>