@using EFreshStoreCore.Model.Context
@{
    ViewBag.Title = "Rejected Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Rejected Orders </h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <table id="dt_basic1" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Order No</th>
                                    <th>Customer Name</th>
                                    <th>Order Date</th>
                                    <th>Address</th>
                                    <th>Reject Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (Order data in Model)
                                    {
                                        var orderDate = data.OrderDate.HasValue ? data.OrderDate.Value.ToString("dd/MM/yyyy hh:mm:ss tt") : "";

                                        <tr>
                                            <td><a data-toggle="modal" data-target="#modalCart" onclick="GetOrderDetails(@data.Id, '@data.OrderNo')" style="cursor: pointer">@data.OrderNo</a></td>
                                            <td>@data.CustomerName</td>
                                            <td>@orderDate</td>
                                            <td>@data.DeliveryAddress</td>
                                            <td>Rejected</td>
                                            
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
